@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	width: 100%;
}
.main {
	padding-block: 80px;
	padding-inline: 20px;
}
header {
	display: flex;
	position: fixed;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	height: 70px;
	width: 100vw;
	justify-content: space-between;
	align-items: center;
	padding-inline: 20px;
	.home-btn {
		a {
			text-decoration: none;
			padding: 10px 20px;
			background-color: rgb(255, 255, 255);
			color: #000;
			border-radius: 25px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
		}
	}
	.other-links {
		ul {
			list-style-type: none;
			display: flex;
			gap: 20px;
			li {
				a {
					text-decoration: none;
					background-color: rgb(28, 149, 210);
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
					padding: 10px 20px;
					border-radius: 25px;
					color: white;
				}
			}
		}
	}
}
.nav {
	height: 100%;
	& > ul {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: start;
		list-style-type: none;
		overflow: auto;
		li {
			height: 100%;
			display: flex;
			padding: 10px;
			text-align: center;
			&:hover {
				background-color: rgba(0, 0, 0, 0.3);
			}
			a {
				text-decoration: none;
				color: #000;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.menu {
		position: absolute;
		left: 0;
		overflow: auto;
		bottom: auto;
		top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		background-color: rgba(0, 0, 0, 0.9);
		backdrop-filter: blur(4px);
		translate: 0% 0%;
		opacity: 0;
		transition: 300ms translate linear, 100ms opacity linear;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}
		.close-btn {
			color: #fff;
			margin: 10px;
			padding: 10px;
			border: 1px solid white;
			cursor: pointer;
		}
		.lists {
			display: flex;
			justify-content: center;
			align-items: start;
			transition: 300ms translate linear, 100ms opacity linear;
			& > ul {
				margin: 0 auto;
				padding: 10px;
				max-height: 400px;
				overflow-y: auto;
				list-style-type: none;
				bottom: 80px;
				color: white;
				width: 100vw;
				overflow-x: hidden;
				left: 0;
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
				overscroll-behavior: contain;
				li {
					padding: 20px;
					text-align: center;
					&:hover {
						background-color: rgba(88, 87, 87, 0.3);
					}
					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.nav {
		position: fixed;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
		left: 0;
		height: 60px;
		width: 100vw;
		top: auto;
		bottom: 0;
		& > ul {
			width: 100vw;
			justify-content: space-evenly;
			li {
				font-size: 0.75rem;
			}
		}
		.menu {
			bottom: 70px;
			top: auto;
			& > ul {
				display: flex;
				justify-content: start;
				align-items: center;
				flex-direction: column;
				li {
					width: 100%;
					border-bottom: 1px solid rgba(232, 232, 232, 0.4);
					padding: 15px;
				}
			}
		}
	}
}
