@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100;
}
header.sticky {
  padding: 15px 100px;
  background: #111;
}
header.sticky a {
  color: #fff;
}
header #logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header #logo:hover {
  font-size: 2.05em;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 100px #fff;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
header ul li a:hover {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  font-size: larger;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 100px red;
}

/*links underline*/
.fancy-link {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.fancy-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav {
  position: fixed;
  width: 70px;
  height: 12vh;
  font-size: 30px;
  margin-top: 40vh;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 1s linear;
}
nav li {
  height: 60px;
  position: relative;
}
nav li:nth-child(1) a:hover {
  background: #4267b2;
}
nav li:nth-child(2) a:hover {
  background: #e1306c;
}
nav li:nth-child(3) a:hover {
  background: #1da1f2;
}
nav li:nth-child(4) a:hover {
  background: #ff0000;
}
nav li a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 60px;
  transition: all 0.4s linear;
  border: 1px solid black;
  background-color: #000;
}
nav li a svg {
  fill: white;
  height: 32px;
}
nav li a:hover {
  width: 90px;
  border-radius: 0px 7px 7px 0px;
}

/*Back to Top*/
#up a {
  position: fixed;
  margin-top: 95vh;
  margin-left: 98%;
  text-decoration: none;
  color: black;
  font-size: 35px;
}

#back-to-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid white;
  border-radius: 15%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}
#back-to-top-btn svg {
  height: 70%;
  fill: white;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: rgba(255, 255, 255, 0.394);
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4), 4px 4px 8px 0 rgba(0, 0, 0, 0.4), 4px 6px 8px 0 rgba(0, 0, 0, 0.4);
}

.mobile-nav {
  display: none;
}

@media (max-width: 992px) {
  header {
    height: 80px;
    padding: 20px !important;
  }
  header .menu-btn {
    width: 32px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }
  header .menu-btn * {
    transition: 300ms ease-in;
  }
  header .menu-btn.open .line-top {
    transform: rotate(45deg) translateX(4px) translateY(8px);
  }
  header .menu-btn.open .line-middle {
    transform: translateX(10px);
    opacity: 0;
  }
  header .menu-btn.open .line-bottom {
    transform: rotate(-45deg) translateX(8px) translateY(-12px);
  }
  header .menu-btn .line-top {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  header .menu-btn .line-middle {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  header .menu-btn .line-bottom {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  header.sticky {
    padding: 15px;
    height: 50px;
  }
  header ul {
    display: none;
  }
  .mobile-nav {
    position: fixed;
    z-index: 2;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.912);
    transform: translateY(-100%);
    transition: 300ms linear;
  }
  .mobile-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4rem;
  }
  .mobile-nav.open {
    transform: translateY(0%);
  }
  nav {
    width: 50px;
    height: 10vh;
  }
  nav li {
    height: 50px;
  }
  nav li a svg {
    fill: white;
    height: 28px;
  }
  nav li a:hover {
    width: 70px;
    border-radius: 0px 7px 7px 0px;
  }
  .container {
    padding: 20px 100px;
  }
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    padding: 10px 50px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  hr {
    margin: 30px 0;
  }
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}
/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.first {
  width: 100%;
  height: 100vh;
  background-color: #333;
  background-image: url(https://picsum.photos/id/249/3000/2000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sec {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/id/1018/3914/2935);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.third {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/id/1037/5760/3840);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fourth {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/id/1039/6945/4635);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1da1f2;
}

.fifth {
  width: 100%;
  height: 100vh;
  background-image: url(https://picsum.photos/id/1021/2048/1206);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(104, 104, 104);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}/*# sourceMappingURL=main.css.map */